{% extends "layout.html" %}

{% block body %}
    <div class="bgimg-1">
        <div class="about-caption">
            <h1 class="about-header">Artsify</h1>
            <h2 class="about-subheader">Art. For everyone.</h2>
            <span  class="about-scroll"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
        </div>
    </div>

    <div style="color: #ddd;background-color:#282E34;text-align:center;padding:20px;text-align: justify;">
        <h3 style="text-align:center;"></h3>
        <p class="about-banner">
            Artsify is an online fine arts marketplace that aims to mitigate the challenges that artists currently face, while also serving as an exclusive access point to talented artists from the nation’s most prestigious art schools.
        </p>
    </div>

    <div class="bgimg-2">
        <div class="about-wide">
            <span class="about-subheader">Who We Are</span>
            <p class="about-paragraph">
                We are creating a new and better way to buy art. Not only will customers be able to purchase art from the comfort of their homes, they’ll have dedicated support throughout the process, and be armed with the knowledge that their purchase is not only transparent, but also fair and supports artists as well as art for community organizations.
            </p>
        </div>
    </div>


    <div style="background-color: #eee">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="demo-video">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GLNxj01sZ5w?ecver=1"></iframe>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 demo-text">
                <h1>Our Product</h1> <br>
                <p>We are continuously innovating and improving upon our product to provide the best experience for our users.</p>
                <p>We’ve designed our website to be user-friendly in order to encourage users to engage with art, and thereby help artists gain more recognition.</p>
            </div>
        </div>
    </div>

    <div class="bgimg-3">
        <div class="about-wide">
            <span class="about-subheader">Community Art Fund</span>
            <p class="about-paragraph">
                Artsify is the first of its kind to house a community benefits program, namely the “Community Art Fund”.
                <br>
                We are dedicated to giving back to community bu donating a portion of each sale toward purchasing art for community organizations including hospitals, schools, senior centers, and libraries.
            </p>
        </div>
    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
            <p class="about-banner">
                We believe that Artsify has the ability to not only revolutionize the way that art is distributed online, but to increase circulation, engagement, and access of art.
            </p>
        </div>
    </div>

    <div class="bgimg-1">
        <div class="about-caption">
            <h1 class="about-header" id="click-to-sign-up">Click Here to Sign Up!</h1>
        </div>
    </div>

{% endblock %}
