{% extends "layout.html" %}

{% block body %}
{%if allArts %}
<section class="cd-gallery">
  <div class="container"><div class="row">
      <ul class="art-grid">
        {% for art in allArts %}
        <li>
            <img src="{{art.img}}" alt="HB" class="w3-hover-opacity artwork-image" onclick="onClick(this)">
            <div class="desc">
                <h4><a href="/art/{{art.painting_id}}">{{art.title}}</a></h4>
                <h5></h5>
                <p><a target="_blank" href="/artists/{{art.artist_id}}">{{art.name}}</a></a></p>
                <p></p>
            </div>
        </li>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}
