{% extends "layout.html" %}

{% block body %}
<section id="artist-profile" class="container">

        <header id="page-top">
            <div class="container"><div class="col-lg-12">

                <div class="rela-block profile-card">

                    <div class="profile-pic"
                        style="
                            background: url('{{artist[0].avator}}') no-repeat;
                            background-position: -5px -20px;"
                        id="profile_pic">
                    </div>
                    <div class="rela-block profile-name-container">
                        <div class="rela-block user-name" id="user_name">Edward Henrion</div>
                        <div class="rela-block user-desc" id="user_description">
                          <a class="rela-block user-desc" href="https://www.edwardhenrion.com/">Artist</a>
                        </div>
                    </div>
                    <div class="social">
                        <ul>
                        </ul>
                    </div>

                    <div class="artist-tabs btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default artist-tab" href="#artwork" data-toggle="tab">
                                <i class="fa fa-image"></i>
                                <div class="hidden-xs">Artwork</div>
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default artist-tab" href="#about-artist" data-toggle="tab">
                                <i class="fa fa-user-circle"></i>
                                <div class="hidden-xs">About the Artist</div>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="tab-content">
                    <!--Artwork -->
                    {%if arts %}
                    
                    <div class="tab-pane fade in active" id="artwork">
                        <div class="rela-block content">
                            {% for art in arts %}
                                    <div class="rela-inline image" style="background: url('{{art.img}}') center center no-repeat;"
                                    href="/arts/{{art.painting_id}}">
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
                   {% endif %}
                
                    <!-- -->
                    <div class="tab-pane fade in" id="about-artist">
                        <h3 class="artist-bio">
                            {{artist[0].self_intro}}
                        </h3>
                    </div>
                </div>
            </div></div>
        </header>
    </section>
    <!-- /.Page Content -->
{% endblock %}
