<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<!--
Kool Store Template
http://www.templatemo.com/preview/templatemo_428_kool_store
-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Artsify</title>
    <link rel=icon href=img/icon.png>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/product/bootstrap.css">

    <!-- Custom CSS -->
    <link href="/css/shop-homepage.css" rel="stylesheet">
    <link href="/css/heroic-features.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/edit.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/css/product/normalize.min.css">
    <link rel="stylesheet" href="/css/product/font-awesome.min.css">
    <link rel="stylesheet" href="/css/product/animate.css">
    <link rel="stylesheet" href="/css/product/templatemo-misc.css">
    <link rel="stylesheet" href="/css/product/templatemo-style.css">

</head>
<body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="https://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!--Navigation-->
    <nav id='cssmenu'>
        <div class="logo"><a class="navbar-brand" href="/">Artsify</a></div>
        <div id="head-mobile"></div>
        <ul>
            <li class='active'><a href='/art'>Art</a></li>
            <li><a href='/artists'>Artists</a></li>
            <li id = "searchbar">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                      <form action="/search" method="post" id="search-form">
                        <input type="text" class="search-query form-control" name="searchText" placeholder="Search or type keywords" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="submit">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                      </form>
                    </div>
                </div>
            </li>
            <li><a href="/about">About</a>
              <ul>
                  <li><a href='/about'>About Artsify</a></li>
                  <li><a href='/about/team'>Our Team</a></li>
              </ul>
            </li>
            <li><a href='/contact'>Contact</a></li>
            <li><a href="#" data-toggle="modal" data-target="#login-modal" id="login-btn">Log In</a></li>
            <li><a href="#" id="register-btn">Sign Up</a></li>
        </ul>
    </nav>
    <section style='padding-top:10px;font:bold  44px arial;color:#68D800;'></section>
    <!--./Navigation-->
    <!-- {% block body %}
    {% endblock %} -->
    <div class="container">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12" align="center">
                    <p>Copyright &copy; Artsify 2017</p>
                </div>
            </div>
            <script>
             function onClick(element) {
               document.getElementById("img01").src = element.src;
               document.getElementById("modal01").style.display = "block";
             }
            </script>
        </footer>
    </div>
    <!-- /.container -->

    <!-- BEGIN # MODAL LOGIN -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modal-close-btn">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <p class="logo-text-lg">Artsify</p>
                </div>

                <!-- Begin # DIV Form -->
                <div id="div-forms">

                    <!-- Begin # Login Form -->
                    <form id="login-form">
                        <div class="modal-body">
                            <div id="div-login-msg">
                                <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-login-msg">Type your username and password.</span>
                            </div>
                            <input id="login_username" class="form-control" type="text" placeholder="Username" required>
                            <input id="login_password" class="form-control" type="password" placeholder="Password" required>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Remember me
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                            </div>
                            <div>
                                <button id="login_lost_btn" type="button" class="btn btn-link">Forgot Password?</button>
                                <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
                            </div>
                        </div>
                    </form>
                    <!-- End # Login Form -->

                    <!-- Begin | Lost Password Form -->
                    <form id="lost-form" style="display:none;">
                        <div class="modal-body">
                            <div id="div-lost-msg">
                                <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-lost-msg">Type your e-mail.</span>
                            </div>
                            <input id="lost_email" class="form-control" type="email" placeholder="Email" required>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                            </div>
                            <div>
                                <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                                <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                            </div>
                        </div>
                    </form>
                    <!-- End | Lost Password Form -->

                    <!-- Begin | Register Form -->
                    <form id="register-form" style="display:none;">
                        <div class="modal-body">
                            <div id="div-register-msg">
                                <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-register-msg">Create an account.</span>
                            </div>
                            <input id="register_username" class="form-control" type="text" placeholder="Username" required>
                            <input id="register_email" class="form-control" type="email" placeholder="Email" >
                            <input id="register_password" class="form-control" type="password" placeholder="Password" >
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                            </div>
                            <div>
                                <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                                <button id="register_lost_btn" type="button" class="btn btn-link">Forgot Password?</button>
                            </div>
                        </div>
                    </form>
                    <!-- End | Register Form -->

                </div>
                <!-- End # DIV Form -->

            </div>
        </div>
    </div>
    <!-- END # MODAL LOGIN -->

    <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img id="img01" style="width:100%">
      </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <script src="/js/product/vendor/jquery-1.10.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/product/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="/js/product/jquery.easing-1.3.js"></script>

    <script src="js/jquery.mixitup.min.js"></script>

    <script src="/js/product/pagination.js"></script>
    <script src="/js/product/pagination.min.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/product/bootstrap.js"></script>

    <!-- Custom JavaScript -->
    {% if not isContactForm %}
        <script src="/js/main.js"></script>
    {% endif %}
    <script src="/js/product/plugins.js"></script>
    <script src="/js/product/main.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/product/vendor/modernizr-2.6.2.min.js"></script>

    <script>
    $(window).load(function() {
    var hash = location.hash;
    var hashPieces = hash.split('?');
    var activeTab = $('[href=' + hashPieces[0] + ']');

    activeTab && activeTab.tab('show');

    $(document.body).on("click", "button[data-toggle]", function(event) {
      location.hash = this.getAttribute("href");
    });
    });
</script>
<script>
  // $('#demo').pagination({
  // dataSource: <%- JSON.stringfy( allArtists) %>,
  // pageSize: 20,
  // formatResult: function(data) {
  //     var result = [];
  //     for (var i = 0, len = data.length; i < len; i++) {
  //         result.push(data[i] + ' - good guys');
  //     }
  //     return result;
  // },
  // callback: function(data, pagination) {
  //     // template method of yourself
  //     var html = template(data);
  //     dataContainer.html(html);
  // }
  // });
</script>

</body>
</html>
