<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Artsify - Art</title>

    <link rel=icon href=img/icon.png>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="jquery.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="/styles/bootstrap.min.css" rel=" stylesheet">

    <!-- Custom CSS -->
    <link href="/styles/shop-homepage.css" rel=" stylesheet">
    <link href="/styles/heroic-features.css" rel=" stylesheet">
    <link href="/styles/main.css" rel=" stylesheet">
    <link href="/styles/edit.css" rel=" stylesheet">
    <link href="/styles/modal_img.css" rel=" stylesheet">


    <link rel=" stylesheet" href="/styles/reset.css"> <!-- CSS reset -->
    <link rel=" stylesheet" href="/styles/filter_style.css"> <!-- Resource style -->
    <script src="js/modernizr.js"></script> <!-- Modernizr -->

    <link rel=" stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>{{title}}</title>
  </head>
  <body>

    <!--Navigation-->
    <nav id='cssmenu'>
        <div class="logo"><a class="navbar-brand" href="index.html">Artsify</a></div>
        <div id="head-mobile"></div>
        <div class="button"></div>
        <ul>
            <li class='active'><a href='art.html'>Art</a></li>
            <li><a href='artists.html'>Artists</a></li>
            <li id = "searchbar">
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="search-query form-control" placeholder="Search or type keywords" />
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
            </li>
            <li><a href='#'>About</a>
                <ul>
                    <li><a href='about.html'>About Artsify</a></li>
                    <li><a href='team.html'>Our Team</a></li>
                    <li><a href='membership.html'>Membership Plans</a></li>
                </ul>
            </li>
            <li><a href='contact.html'>Contact</a></li>
            <li><a href="#" data-toggle="modal" data-target="#login-modal" id="login-btn">Log In</a></li>
            <li><a href="#" id="register-btn">Sign Up</a></li>
        </ul>
    </nav>

    <!--./Navigation-->


    <header>
      This is the header.
    </header>
    <div>
      {% block body %}
      {% endblock %}
    </div>
    <footer>
    <!-- Footer -->
      <div class="container">
          <hr>
          <footer>
              <div class="row">
                  <div class="col-lg-12" align="center">
                      <p>Copyright &copy; Artsify 2017</p>
                  </div>
              </div>
          </footer>
      </div>
      <!-- /.Footer -->
    </footer>
    <!-- Modal Login -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modal-close-btn">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <p class="logo-text-lg">Artsify</p>
                </div>

                <div id="div-forms">

                    <form id="login-form">
                        <div class="modal-body">
                            <div id="div-login-msg">
                                <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-login-msg">Type your username and password.</span>
                            </div>
                            <input id="login_username" class="form-control" type="text" placeholder="Username" required>
                            <input id="login_password" class="form-control" type="password" placeholder="Password" required>
                            <div class="checkbox">
                                <label><input type="checkbox"> Remember me</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                            </div>
                            <div>
                                <button id="login_lost_btn" type="button" class="btn btn-link">Forgot Password?</button>
                                <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
                            </div>
                        </div>
                    </form>

                    <form id="lost-form" style="display:none;">
                        <div class="modal-body">
                            <div id="div-lost-msg">
                                <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-lost-msg">Type your e-mail.</span>
                            </div>
                            <input id="lost_email" class="form-control" type="email" placeholder="Email" required>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                            </div>
                            <div>
                                <button id="lost_login_btn" type="button" class="btn btn-link">Log In</button>
                                <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                            </div>
                        </div>
                    </form>

                    <form id="register-form" style="display:none;">
                        <div class="modal-body">
                            <div id="div-register-msg">
                                <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-register-msg">Create an account.</span>
                            </div>
                            <input id="register_username" class="form-control" type="text" placeholder="Username" required>
                            <input id="register_email" class="form-control" type="email" placeholder="Email" >
                            <input id="register_password" class="form-control" type="password" placeholder="Password" >
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                            </div>
                            <div>
                                <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                                <button id="register_lost_btn" type="button" class="btn btn-link">Forgot Password?</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
    <!-- ./Modal Login -->

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Custom JavaScript -->
    <script src="/js/main.js"></script>
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/jquery.mixitup.min.js"></script>
    <script src="/js/filter_main.js"></script> <!-- Resource jQuery -->
  </body>
</html>
