section#contact {
    background-color: #281629;
    background-image: url('http://artdnaswitchbd.com/componants/images/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
}
section {
    padding: 30px 0PX;
}
section#contact .section-heading {
    color: white;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    color: #555;
}
.gellary_bg_none img{
    width: 100%;
    height: 250px;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    color: #555;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    color: #555;
}
section#contact :-ms-input-placeholder {
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    color: #555;
}
section#contact .text-danger {
    color: #e74c3c;
}

.about_our_company{
    text-align: center;
}
.titleline-icon {
    position: relative;
    max-width: 100px;
    border-top: 4px double #3e15cc;
    margin: 20px auto 20px;
}
.titleline-icon:after {
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'FontAwesome';
    content: "\f141";
    font-size: 20px;
    line-height: 1;
    color: #3e15cc;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    background: #ffffff;
}
